<div class="row">
  <div class="col-sm-12">
    <div class="table-responsive">
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th>Num. Empelado</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Telefono</th>
            <th>Fecha Nacimiento</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empleado of empleados; trackBy: trackByNum">
            <td>{{empleado.num}}</td>
            <td>{{empleado.nombre}}</td>
            <td>{{empleado.correo}}</td>
            <td>{{empleado.telefono}}</td>
            <td>{{empleado.fecha | date}}</td>
            <td><button class="btn btn-danger" (click)="eliminarEmpleado(empleado.num)">Eliminar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
